StudentSBProject/Services/Internal/WSDL/BPELSOAPStudent.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="BPELSOAPStudent" targetNamespace="http://www.oracle.com/BPELSOAPStudent"
                  xmlns:tns="http://www.oracle.com/BPELSOAPStudent" xmlns:inp1="http://www.example.org"
                  xmlns:inp2="http://www.example.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <xsd:element name="StudentDetailsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Student">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="lastName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.example.org" schemaLocation="../XSD/Request.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.example.org" schemaLocation="../XSD/Response.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessage">
    <wsdl:part name="request" element="inp1:StudentDetailsRequest"/>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="response" type="inp1:Student"/>
  </wsdl:message>
  <wsdl:portType name="execute_ptt">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:requestMessage"/>
      <wsdl:output message="tns:replyMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="execute_bind" type="tns:execute_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <soap:operation style="rpc" soapAction="execute"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.oracle.com/BPELSOAPStudent"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.oracle.com/BPELSOAPStudent"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
